@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding: 20px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
          box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
  border-radius: 15px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  padding: 0.9375rem 2.375rem;
  background: -o-linear-gradient(354.8deg, #B90160 2.23%, #2E3192 99.51%);
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  border-radius: 7px;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.15;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.order-form__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.18;
  text-align: center;
}

.form__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 360px))[2];
  grid-template-columns: repeat(2, minmax(auto, 360px));
  gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__button {
  padding: 0.625rem 2.25rem;
}

.input,
.area {
  width: 100%;
  padding: 0.8125rem 1rem;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 9px;
  font-weight: 300;
  color: #989898;
}

.area {
  max-height: 5.625rem;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.4375rem;
  padding-bottom: 1.4375rem;
  min-height: 5rem;
  background: -o-linear-gradient(180.09deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  row-gap: 0.625rem;
  padding-left: 2rem;
}

.header__location {
  background: url("../img/header/location.svg") left no-repeat;
  line-height: 1.5625rem;
  padding-left: 1.4375rem;
}

.header__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.9375rem;
          flex: 0 0 10.9375rem;
  font-size: 0.875rem;
  background: url("../img/header/insta.svg") left no-repeat;
  padding-left: 2.8125rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  position: relative;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14rem;
          flex: 0 1 14rem;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.18;
}

.footer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  max-width: 14rem;
}

.footer__body p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__phone {
  font-weight: 300;
}

.footer__decor-item {
  position: absolute;
}

.footer__decor-item1 {
  background: url("../img/footer/decor.svg") 0 0 no-repeat;
  width: 6.875rem;
  height: 7.8125rem;
  top: -100%;
  left: 5%;
}

.footer__decor-item2 {
  background: url("../img/footer/decor.svg") 0 0 no-repeat;
  -webkit-transform: scale(2.1);
      -ms-transform: scale(2.1);
          transform: scale(2.1);
  width: 14.5625rem;
  height: 16.5rem;
  top: 0;
  right: -5%;
}

.main {
  position: relative;
  margin-top: 7.75rem;
  margin-bottom: 3.125rem;
}

.main__container {
  position: relative;
  z-index: 2;
}

.main__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}

.main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__logo:not(:last-child) {
  margin-bottom: 3.75rem;
}

.main__title {
  font-weight: 900;
  line-height: 1.15;
}

.main__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.main__subtitle {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.16;
}

.main__subtitle:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.main__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
}

.main__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding-bottom: 45%;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-main__image img {
  max-width: 100%;
}

.logo-main__text {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  line-height: 1.16;
  position: relative;
}

.logo-main__text:after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 50%;
  height: 0.25rem;
  background: -o-linear-gradient(354.8deg, #B90160 2.23%, #2E3192 99.51%);
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  border-radius: 0.1875rem;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.menu__item {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #737373;
}

.decor-main__item {
  position: absolute;
}

.decor-main__item1 {
  background: url("../img/main/decor1.svg") 0 0 no-repeat;
  width: 46.5625rem;
  height: 32.625rem;
  top: 18%;
  right: 6%;
}

.decor-main__item2 {
  background: url("../img/main/decor2.svg") 0 0 no-repeat;
  width: 4rem;
  height: 3.125rem;
  top: 39%;
  left: 29%;
}

.decor-main__item3 {
  background: url("../img/main/decor3.svg") 0 0 no-repeat;
  width: 7.25rem;
  height: 8.125rem;
  top: 82%;
  left: 6%;
}

.what {
  position: relative;
}

.what__container {
  position: relative;
  z-index: 2;
}

.what__title {
  font-weight: 600;
  line-height: 1.16;
  text-align: center;
}

.what__title span {
  color: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
}

.what__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  padding: 0 1.25rem;
}

.what__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 40px);
      flex-basis: calc(33.3333333333% - 40px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
          box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what__image-ibg {
  padding-bottom: 60%;
}

.what__image-ibg img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.what__body {
  padding: 1.25rem;
}

.what__caption {
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
}

.what__caption:not(:last-child) {
  margin-bottom: 0.625rem;
}

.what__text {
  font-weight: 300;
  line-height: 1.16;
  color: #767676;
}

.what__decor {
  position: absolute;
  background: url("../img/whatDecor.svg") 0 0 no-repeat;
  width: 47.3125rem;
  height: 36.3125rem;
  top: 30%;
  left: 3%;
}

.review-slider {
  background: -o-linear-gradient(355.69deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
  background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
  margin-bottom: 2.5rem;
}

.review-slider__wrapper {
  padding: 6.25rem 0rem 4.375rem 0rem;
}

.swiper-slide {
  opacity: 0.4;
  max-width: 33.5rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 0 2.9375rem 1.25rem 2.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide__image {
  margin-top: -60px;
  width: 5.8125rem;
  height: 6.625rem;
  position: relative;
  background: -o-linear-gradient(354.8deg, #B90160 2.23%, #2E3192 99.51%);
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
}

.swiper-slide__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.swiper-slide__image img {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 5.5625rem;
  height: 6.375rem;
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
}

.swiper-slide__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.16;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  position: relative;
}

.swiper-slide__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.swiper-slide__text:after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  left: 25%;
  width: 50%;
  height: 0.125rem;
  background: -o-linear-gradient(354.8deg, #B90160 2.23%, #2E3192 99.51%);
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
}

.swiper-slide__author {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.16;
  text-align: center;
  color: #8E8E8E;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .header__phone {
    background: url("../img/header/tel.svg") left no-repeat;
  }
}

@media (min-width: 47.99875em) {
  .form__line_area {
    grid-column-start: span 2;
  }

  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 61.99875em) {
  .main__logo {
    display: none;
  }
}

@media (min-width: 76.625em) {
  .popup__content {
    max-width: 73.75rem;
  }

  .order-form__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .form__body:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .footer {
    margin-top: 9.375rem;
  }

  .footer {
    margin-bottom: 4.375rem;
  }

  .main__title {
    font-size: 3.125rem;
  }

  .logo-main__text {
    font-size: 2.25rem;
  }

  .what {
    margin-bottom: 14.0625rem;
  }

  .what__title {
    font-size: 3.125rem;
  }

  .what__title {
    margin-bottom: 7.5rem;
  }

  .what__caption {
    font-size: 2.25rem;
  }
}

@media (max-width: 20em) {
  .popup__content {
    max-width: 16.6875rem;
  }

  .order-form__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .form__body:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .footer {
    margin-top: 0.9375rem;
  }

  .footer {
    margin-bottom: 1.25rem;
  }

  .main__title {
    font-size: 1.5625rem;
  }

  .logo-main__text {
    font-size: 1.25rem;
  }

  .what {
    margin-bottom: 3.125rem;
  }

  .what__title {
    font-size: 1.25rem;
  }

  .what__title {
    margin-bottom: 1.25rem;
  }

  .what__caption {
    font-size: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__decor-item2 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .header-main {
    display: none;
  }

  .decor-main__item2 {
    display: none;
  }

  .decor-main__item3 {
    display: none;
  }

  .what__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 37.125rem;
            flex: 0 1 37.125rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .what__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .form__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .header {
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .header__link {
    display: none;
  }

  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.25rem;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-align: center;
  }

  .footer__item1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer__item2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .footer__decor-item {
    display: none;
  }

  .main__body {
    text-align: center;
  }

  .main__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__image-ibg {
    display: none;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .input,
  .area {
    width: 14.375rem;
  }
}

@media (min-width: 20em) and (max-width: 76.625em) {
@supports (max-width: clamp( 16.6875rem , -3.4670253863rem  +  100.7726269316vw , 73.75rem )) {
    .popup__content {
      max-width: clamp( 16.6875rem , -3.4670253863rem  +  100.7726269316vw , 73.75rem );
    }
}

@supports not (max-width: clamp( 16.6875rem , -3.4670253863rem  +  100.7726269316vw , 73.75rem )) {
    .popup__content {
      max-width: calc(16.6875rem + 57.0625 * (100vw - 20rem) / 56.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.2752483444rem  +  3.3112582781vw , 2.8125rem )) {
    .order-form__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.2752483444rem  +  3.3112582781vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.2752483444rem  +  3.3112582781vw , 2.8125rem )) {
    .order-form__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 56.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.2752483444rem  +  3.3112582781vw , 2.8125rem )) {
    .form__body:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.2752483444rem  +  3.3112582781vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.2752483444rem  +  3.3112582781vw , 2.8125rem )) {
    .form__body:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 56.625);
    }
}

@supports (margin-top: clamp( 0.9375rem , -2.0426324503rem  +  14.9006622517vw , 9.375rem )) {
    .footer {
      margin-top: clamp( 0.9375rem , -2.0426324503rem  +  14.9006622517vw , 9.375rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , -2.0426324503rem  +  14.9006622517vw , 9.375rem )) {
    .footer {
      margin-top: calc(0.9375rem + 8.4375 * (100vw - 20rem) / 56.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.1462472406rem  +  5.5187637969vw , 4.375rem )) {
    .footer {
      margin-bottom: clamp( 1.25rem , 0.1462472406rem  +  5.5187637969vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1462472406rem  +  5.5187637969vw , 4.375rem )) {
    .footer {
      margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 56.625);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.0106236203rem  +  2.7593818985vw , 3.125rem )) {
    .main__title {
      font-size: clamp( 1.5625rem , 1.0106236203rem  +  2.7593818985vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.0106236203rem  +  2.7593818985vw , 3.125rem )) {
    .main__title {
      font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.896799117rem  +  1.766004415vw , 2.25rem )) {
    .logo-main__text {
      font-size: clamp( 1.25rem , 0.896799117rem  +  1.766004415vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.896799117rem  +  1.766004415vw , 2.25rem )) {
    .logo-main__text {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 56.625);
    }
}

@supports (margin-bottom: clamp( 3.125rem , -0.7381346578rem  +  19.3156732892vw , 14.0625rem )) {
    .what {
      margin-bottom: clamp( 3.125rem , -0.7381346578rem  +  19.3156732892vw , 14.0625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , -0.7381346578rem  +  19.3156732892vw , 14.0625rem )) {
    .what {
      margin-bottom: calc(3.125rem + 10.9375 * (100vw - 20rem) / 56.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.5877483444rem  +  3.3112582781vw , 3.125rem )) {
    .what__title {
      font-size: clamp( 1.25rem , 0.5877483444rem  +  3.3112582781vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5877483444rem  +  3.3112582781vw , 3.125rem )) {
    .what__title {
      font-size: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.9575055188rem  +  11.0375275938vw , 7.5rem )) {
    .what__title {
      margin-bottom: clamp( 1.25rem , -0.9575055188rem  +  11.0375275938vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.9575055188rem  +  11.0375275938vw , 7.5rem )) {
    .what__title {
      margin-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 56.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.896799117rem  +  1.766004415vw , 2.25rem )) {
    .what__caption {
      font-size: clamp( 1.25rem , 0.896799117rem  +  1.766004415vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.896799117rem  +  1.766004415vw , 2.25rem )) {
    .what__caption {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 56.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 76.625em) {
  .input,
  .area {
    width: 26.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.625em) {
@supports (width: clamp( 14.375rem , 9.9599889625rem  +  22.0750551876vw , 26.875rem )) {
    .input,
    .area {
      width: clamp( 14.375rem , 9.9599889625rem  +  22.0750551876vw , 26.875rem );
    }
}

@supports not (width: clamp( 14.375rem , 9.9599889625rem  +  22.0750551876vw , 26.875rem )) {
    .input,
    .area {
      width: calc(14.375rem + 12.5 * (100vw - 20rem) / 56.625);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 76.625em) {
  .what__item:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 76.625em) {
@supports (margin-bottom: clamp( 1.875rem , 1.2127483444rem  +  3.3112582781vw , 3.75rem )) {
    .what__item:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.2127483444rem  +  3.3112582781vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2127483444rem  +  3.3112582781vw , 3.75rem )) {
    .what__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: -o-linear-gradient(354.8deg, #2E3192 2.23%, #B90160 99.51%);
    background: linear-gradient(95.2deg, #2E3192 2.23%, #B90160 99.51%);
  }

  .header__phone:hover {
    text-decoration: underline;
  }

  .header__location:hover {
    text-decoration: underline;
  }

  .header__link:hover {
    text-decoration: underline;
  }

  .footer__body a:hover {
    text-decoration: underline;
  }

  .footer__phone:hover {
    text-decoration: underline;
  }

  .logo-main__text:hover:after {
    width: 100%;
  }

  .menu__item:hover {
    text-decoration: underline;
  }

  .what__item:hover .what__image-ibg img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}